#box {
  width: 200px;
  padding:40px;
  font-size: 1.3rem;
  background-color: #ccc;
  color: green;
  font-weight: bold;
  border-radius: 8px;
  float: right;
  margin-right: 10px;
  display: none
}

#counter {
  text-align: center;
  font-size: 1.1rem;
  color: #999
}
